<!DOCTYPE html>
<html>
<head>
    <title>Cookie Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial;
            background: linear-gradient(to right, #f7971e, #ffd200);
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            width: 600px;
            background: white;
            padding: 40px;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
        }

        h1 {
            color: #2c3e50;
        }

        h2 {
            color: #34495e;
            margin-top: 15px;
        }

        a {
            text-decoration: none;
            background: #3498db;
            color: white;
            padding: 12px 24px;
            border-radius: 8px;
            display: inline-block;
            margin-top: 25px;
        }

        a:hover {
            background: #2980b9;
        }
    </style>
</head>
<body>

<div class="container">

    <h1>Cookie Set Successfully</h1>
    <h2>Cookie Parser Working</h2>

    <a href="/student-dashboard">Back to Dashboard</a>

</div>

</body>
</html>  