<!DOCTYPE html>
<html>
<head>
    <title>Upload Assignment</title>

    <style>

        body {
            margin: 0;
            padding: 0;
            font-family: Arial;
            background: linear-gradient(to right, #4facfe, #00f2fe);
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            width: 700px;
            background: white;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
        }

        h1 {
            text-align: center;
            color: #2c3e50;
            margin-bottom: 30px;
        }

        input, textarea {
            width: 100%;
            padding: 12px;
            margin-top: 10px;
            margin-bottom: 20px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 15px;
        }

        button {
            width: 100%;
            padding: 14px;
            border: none;
            background: #3498db;
            color: white;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background: #2980b9;
        }

    </style>

</head>

<body>

<div class="container">

    <h1>Upload Assignment</h1>

    <form action="/create-assignment" method="POST" enctype="multipart/form-data">

        <input
            type="text"
            name="title"
            placeholder="Assignment Title"
            required
        >

        <input
            type="text"
            name="subject"
            placeholder="Subject"
            required
        >

        <textarea
            name="description"
            placeholder="Assignment Description"
            rows="5"
            required
        ></textarea>

        <input
            type="file"
            name="file"
            required
        >

        <button type="submit">
            Upload Assignment
        </button>

    </form>

</div>

</body>
</html>